footer {
    width: 85%;
    margin: 6.25rem auto 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    color: var(--secondary);
    font-family: "OstrichBlack", sans-serif;
    font-size: 2rem;
}

.footer-navbar-hover-underline:after {
    color: var(--secondary);
    background-color: var(--secondary);
}