.testimonials {
    width: 100%;
}

.testimonial-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1.25rem 2.5rem;
    gap: 1rem;
}

.testimonial-user img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.testimonial-user h6 {
    font-size: 2rem;
    font-family: 'OstrichBlack', sans-serif;
}


/* Override the default color of the dots */
.slick-dots li button:before {
    color: var(--secondary) !important;
}

/* Override the color of the active dot */
.slick-dots li.slick-active button:before {
    color: var(--secondary) !important;
}